.homePage {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.roomList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room {
  width: 400px;
  padding: 10px 20px;
  border: 2px rgb(209, 206, 206) solid;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}